@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    padding: 4px;
    border-radius: 4px;
}
.btn-red {
    border-color: red;
    background-color: red;
    color: white;
}
input {
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 4px;
}